{% extends 'main/layout.html' %}

{% block title %}Test text{% endblock %}

{% block content %}
   <div class="features">
    <h1>Test text</h1>
        <p>I'm trying to implement the HTML5 colorpicker in Django's admin page. However, the type for the field is still text. How do I change the type for the input field to color in the admin page?</p>
        <button class="btn btn-danger">To the page "Test text"</button>
        <h2></h2>
        <button class="btn btn-danger">To the page "Contact"</button>
        <h3>  </h3>
        <button class="btn btn-danger">To the page "Block of information"</button>
        <h4></h4>
       <button class="btn btn-danger">To the page "Newspaper"</button>
    </div>
{% endblock %}